# Geopandas with leafmap

* Used to read in the geospatial data, and returns a GeoDataFrame
* ___Geopandas___: visualize geospatial data
* ___leafmap___: python package for geospatial analysis and interactive mapping in Jupyter
* ___GeoDataFrame___: tabular data structure containing a column that stores geometries / a geoseries

In [2]:
#install geopandas and leafmap
# !pip install geopandas
# !pip install leafmap

#import geopandas and leafmap
import geopandas as gpd
import leafmap

#create an interactive map
geomap = leafmap.Map(center=[15.5, -61.3], zoom=10)#up/down, left/right
#display map
geomap

Map(center=[15.5, -61.3], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_ou…

In [3]:

#Read and convert csv to dataframe
df = leafmap.csv_to_df('world_cities.csv')
#display dataframe
df

    id            name country  latitude  longitude  population
0   30  Fort-de-France     FRA  14.61041  -61.08003    253995.0
1  455          Roseau     DMA  15.30102  -61.38701         NaN
2  715       Kingstown     VCT  13.14828  -61.21206     49485.0
3  716        Castries     LCA  14.00197  -61.00001     37963.0
4  722  Saint George's     GRD  12.05263  -61.74164         NaN

In [5]:
#create a layer on map from dataframe
#add_xy_data: Adds points from a CSV file containing lat/lon information and display data on the map.
geomap.add_xy_data(df, x="longitude", y="latitude", layer_name="data points")
geomap

Map(bottom=60248.0, center=[14.902321826141808, -61.08535766601563], controls=(ZoomControl(options=['position'…

In [102]:
#convert csv to GeoDataFrame
gdf = leafmap.csv_to_gdf('world_cities.csv')
gdf

#notice that a geometry column is created with the lat and long values as a point

,id,name,country,latitude,longitude,population,geometry
0,30,Fort-de-France,FRA,14.61041,-61.08003,253995.0,POINT (-61.08003 14.61041)
1,455,Roseau,DMA,15.30102,-61.38701,NaN,POINT (-61.38701 15.30102)
2,715,Kingstown,VCT,13.14828,-61.21206,49485.0,POINT (-61.21206 13.14828)
3,716,Castries,LCA,14.00197,-61.00001,37963.0,POINT (-61.00001 14.00197)
4,722,Saint George's,GRD,12.05263,-61.74164,NaN,POINT (-61.74164 12.05263)

In [103]:
geomap.add_xy_data(gdf, x="longitude", y="latitude", layer_name="geo points")
geomap

Map(bottom=120423.0, center=[14.8, -61], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_t…

In [108]:
#to use, csv files should have longitude and latidude headings
stats = leafmap.csv_to_gdf('15122.csv')
stats

    longitude   latitude  BuildingNumber                    geometry
0  -61.392414  15.344853            11.0  POINT (-61.39241 15.34485)
1  -61.388657  15.341959            91.0  POINT (-61.38866 15.34196)
2  -61.392207  15.345262            16.0  POINT (-61.39221 15.34526)
3  -61.392512  15.345171            13.0  POINT (-61.39251 15.34517)
4  -61.392209  15.344747            21.0  POINT (-61.39221 15.34475)
..        ...        ...             ...                         ...
87 -61.391686  15.344740            26.0  POINT (-61.39169 15.34474)
88 -61.391896  15.344565            24.0  POINT (-61.39190 15.34456)
89 -61.391122  15.344566            36.0  POINT (-61.39112 15.34457)
90 -61.391934  15.344859            28.0  POINT (-61.39193 15.34486)
91 -61.385893  15.300562            92.0  POINT (-61.38589 15.30056)

[92 rows x 4 columns]

In [110]:
geomap.add_xy_data(stats, x="longitude", y="latitude", layer_name="dominica points")
geomap

Map(bottom=119994.0, center=[15.368949896534705, -61.24328613281251], controls=(ZoomControl(options=['position…

# Geopackages

Dominica Rooftop Classification data

In [2]:
import fiona

geopackage_path = 'building_footprints.gpkg'
layers = fiona.listlayers(geopackage_path)
print(layers)

ModuleNotFoundError: No module named 'fiona'

In [113]:
#Load Geopackage Footprints
ml_gdf = gpd.read_file('building_footprints.gpkg', layer='output_edited')

In [114]:
# Look at the crs
ml_gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [1]:

m = leafmap.Map(center=[15.45, -61.43], zoom=16)

#m.add_gdf(stats_merge, layer_name="stats")
m.add_gdf(ml_gdf, layer_name="ML")

m

NameError: name 'leafmap' is not defined